In [11]:
# libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [82]:
#load dataset
data = pd.read_csv("C:\\Users\\PEEKAY MURMU\\Documents\\jupyter notebook\\Machine learning from edureka\\weather_data_01.csv")

In [83]:
data

     outlook temperature humidity  windy play_golf
0      rainy         hot     high  False        NO
1      rainy         hot     high   True        NO
2   overcast         hot     high  False       YES
3      sunny        mild     high  False       YES
4      sunny        cool   normal  False       YES
5      sunny        cool   normal   True        NO
6   overcast        cool   normal   True       YES
7      rainy        mild     high  False        NO
8      rainy        cool   normal  False       YES
9      sunny        mild   normal  False       YES
10     rainy        mild   normal   True       YES
11  overcast        mild     high   True       YES
12  overcast         hot   normal  False       YES
13     sunny        mild     high   True        NO

In [84]:

data.replace({'rainy':1,'overcast':4,'sunny':7},inplace=True)
data.replace({'hot':3,'mild':9,'cool':15},inplace=True)
data.replace({'high':2,'normal':11},inplace=True)
data.replace({True:1,False:0},inplace=True)
data.replace({'YES':1,'NO':0},inplace=True)
data

    outlook  temperature  humidity  windy  play_golf
0         1            3         2      0          0
1         1            3         2      1          0
2         4            3         2      0          1
3         7            9         2      0          1
4         7           15        11      0          1
5         7           15        11      1          0
6         4           15        11      1          1
7         1            9         2      0          0
8         1           15        11      0          1
9         7            9        11      0          1
10        1            9        11      1          1
11        4            9         2      1          1
12        4            3        11      0          1
13        7            9         2      1          0

In [85]:
dataset =data.values

X = dataset[:,0:4]
Y = dataset[:,4]

In [120]:
#split the dataset
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=1)
print('Number of train dataset ',len(x_train))
print('Number of test dataset ',len(x_test))

Number of train dataset  11
Number of test dataset  3

In [106]:
#test dataset 
today = pd.DataFrame([['sunny','hot','normal',False]])
type(today)

pandas.core.frame.DataFrame

In [107]:
today.replace({'rainy':1,'overcast':4,'sunny':7},inplace=True)
today.replace({'hot':3,'mild':9,'cool':15},inplace=True)
today.replace({'high':2,'normal':11},inplace=True)
today.replace({True:1,False:0},inplace=True)
today.replace({'YES':1,'NO':0},inplace=True)

In [112]:
test_data = today.values

In [110]:
#Naive Bayes classifier

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X,Y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [121]:
def prediction(n):
    if n == 1:
        return 'YES'
    else:
        return 'NO'

In [122]:
#predict the output value
pred_Val = gnb.predict(test_data)
prediction(pred_Val[0])

'YES'

In [125]:
#predict a list of output
pred = gnb.predict(x_test)
result = []
for i in range(len(pred)):
    result.append(prediction(pred[i]))
result

['YES', 'NO', 'YES']

[1 0 1]